@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}

/* shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 1.25rem 1.5rem;
    border-radius: 8px;
    margin: 1.8rem auto;
    font-weight: 600;
    font-size: 1.25rem;
}

/* dark 01 */
.dark1 {
    color: #131313;
}

/* dark 02 */
.dark2 {
    color: #424242;
}

/* dark 03 */
.dark3 {
    color: #727272;
}

.bg-primary {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* navbar related styles */
.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.logo {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-links {
    gap: 1.8rem;
}

.nav-item {
    list-style: none;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-desc {
    font-size: 1rem;
    margin-top: 2.8rem;
    line-height: 1.625rem;
}

.banner-img {
    width: 100%;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .nav-bar, .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
    }
}